@import '../core/colors';
@import '../core/fonts';
@import '../core/viewports';

// desktop
.navigation {
  align-items: center;
  background-color: $white;
  display: flex;
  justify-content: flex-end;
  padding-right: 30px;
}

.navigation__tab {
  @extend %font-medium-slab;

  align-items: center;
  color: $blue-1;
  border-bottom: 1px solid transparent;
  display: flex;
  height: 45px;
  justify-content: center;
  text-decoration: none;
  width: 120px;

  &.active {
    color: $blue-2;
    border-bottom-color: $blue-2;
  }
}

// tablet
@include viewport-down(tablet) {
  .navigation {
    padding-right: 0;
  }
}

// mobile
@include viewport-down(mobile) {
  .navigation {
    display: flex;
  }

  .navigation__tab {
    flex: 1;
  }
}
