// colors
$blue-0: #c9e3f9;
$blue-1: #4ba7ee;
$blue-2: #003970;
$blue-3: #105aa3;
$blue-4: #c9e3f9;
$blue-5: #105aa3;
$blue-shadow: rgba(80, 92, 119, .2);

$grey-0: #fafafa;
$grey-1: #f9f9f9;
$grey-2: #8b9199;
$grey-3: #9da2a9;
$grey-4: #dee1e8;
$grey-5: #616469;
$grey-shadow: rgba(222, 225, 232, .38);

$green: #6dc138;
$red: #e82e34;
$white: #fff;
$white-shadow: rgba(255, 255, 255, .8);
