// @extend %clearFix
%clearFix {
  &:before,
  &:after {
    content: ' ';
    display: table;
  }
  &:after {
    clear: both;
  }
}

@mixin transition($properties) {
  @if type-of($properties) == string {
    $properties: ($properties);
  }

  $result: '';

  @for $idx from 1 through length($properties) {
    $result: "#{$result}#{if($idx == 1, '', ', ')}#{nth($properties, $idx)} .3s ease-out";
  }

  transition: unquote($result);
}
