@import '../core/colors';
@import '../core/fonts';
@import '../core/utils';
@import '../core/viewports';

// desktop
.panel {
  @extend %font-extra-small;

  background-color: $white;
  border: 1px solid $grey-4;
  color: $blue-5;
  margin-top: 41px;
  padding: 20px;
  position: relative;

  &:not(:last-child) {
    margin-bottom: -17px;
  }
}

.panel__action {
  @extend %font-huge;

  color: $blue-1;
}

.panel__badge {
  @extend %font-extra-small-spacing;

  background-color: $red;
  color: $white;
  height: 25px;
  line-height: 25px;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 221px;
}

.card {
  @extend %font-small;

  border: 1px solid $grey-4;
  color: $grey-5;
  display: flex;
  flex-direction: column;
  margin-top: 22px;
  padding-right: 10%;
}

.card__static {
  display: flex;
}

.card-static__content {
  display: flex;
  flex-direction: column;
  padding: 18px 0 18px 27px;

  > * {
    flex: 1;
    margin-bottom: 23px;
  }

  h2 {
    @extend %font-large;

    color: $blue-2;
    margin: 0;
    flex: 0;
  }
}

.card-static-content__action {
  @extend %font-small-bold;

  color: $blue-1;
  flex: 0;
  margin: 0;
}

.card__collapsible {
  padding: 23px 0 17px 81px;
}

.card-collapsible__list {
  @extend %clearFix;

  li {
    box-sizing: border-box;
    float:left;
    padding-right: 23px;
    width: 33.33%;
  }
}

.card-collapsible__disclaimer {
  color: $blue-2;
}

// small-desktop
@include viewport-down(small-desktop) {
  .card-collapsible__list li {
    width: 50%;
  }
}

// tablet
@include viewport-down(tablet) {
  .card {
    padding-right: 0;
  }

  .card__static {
    display: block;
    position: relative;
    padding-bottom: 45px;

    img {
      width: 100%;
      height: auto;
    }
  }

  .card-static__content {
    background-color: $white-shadow;
    bottom: 0;
    padding: 18px 27px;
    position: absolute;
  }

  .card__collapsible {
    padding: 0 27px 18px;
  }
}

// mobile
@include viewport-down(mobile) {
  .panel {
    padding-top: 40px;
  }
  
  .panel__badge {
    width: 100%;
  }

  .card {
    padding-right: 0;
  }

  .card__static {
    padding: 0;
  }

  .card-static__content {
    padding: 18px;
    position: relative;
  }

  .card__collapsible {
    padding: 0 18px 18px;
    
    li {
      width: 100%;
    }
  }
}
