@import '../core/colors';
@import '../core/fonts';
@import '../core/utils';
@import '../core/viewports';

$height-img: 180px;

// desktop
.panel {
  background-color: $white;
  border: 1px solid $grey-4;
  margin-top: 41px;
  padding: 20px;
  position: relative;

  &:not(:last-child) {
    margin-bottom: -17px;
  }
}

.panel__action {
  @extend %font-huge;

  color: $blue-1;
  padding-left: 64px;
  position: relative;

  .collapsible__arrow {
    bottom: -2px;
    left: 5px;
    position: absolute;
  }
}

.panel-action__disclaimer {
  @extend %font-extra-small;

  color: $blue-5;
  bottom: -2px;
  margin-left: 31px;
  position: absolute;
}

.panel__badge {
  @extend %font-extra-small-spacing;

  background-color: $red;
  color: $white;
  height: 25px;
  line-height: 25px;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 221px;
}

.card {
  @extend %font-small;

  border: 1px solid $grey-4;
  box-sizing: border-box;
  color: $grey-5;
  display: inline-block;
  margin-top: 22px;
  padding-right: 10%;
  width: 100%;
}

.card-static__content {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  min-height: $height-img;
  padding: 18px 0 18px 27px;
}

.card-static__img {
  float: left;
  height: $height-img;
  width: 270px;
}

.card-static-content__title {
  @extend %font-large;

  color: $blue-2;
}

.card-static-content__text {
  flex: 1;
  margin-bottom: 23px;
  white-space: pre-wrap;
}

.card-static-content__action {
  @extend %font-small-bold;

  color: $blue-1;
  position: relative;

  .collapsible__arrow {
    margin-left: 37px;
    position: absolute;
    bottom: -2px;
  }
}

.card__collapsible {
  padding: 23px 0 17px 81px;
}

.card-collapsible__list {
  @extend %clearFix;

  li {
    box-sizing: border-box;
    float:left;
    padding-right: 23px;
    width: 33.33%;
  }
}

.card-collapsible__disclaimer {
  color: $blue-2;
}

.collapsible {
  @include transition(('height'));

  overflow: hidden;
}

.collapsible__arrow {
  @include transition(('transform'));

  &.collapsed {
    transform: rotate(180deg);
  }
}

// small-desktop
@include viewport-down(small-desktop) {
  .card-collapsible__list li {
    width: 50%;
  }
}

// tablet
@include viewport-down(tablet) {
  .card {
    padding-right: 0;
  }

  .card-static__img {
    float: none;
    height: auto;
    width: 100%;
  }

  .card__static {
    display: block;
    position: relative;
    padding-bottom: 45px;
  }

  .card-static__content {
    background-color: $white-shadow;
    bottom: 0;
    padding: 18px 27px;
    position: absolute;
  }

  .card__collapsible {
    padding: 0 27px 18px;
  }
}

// mobile
@include viewport-down(mobile) {
  .panel {
    padding-top: 40px;
  }
  
  .panel__badge {
    width: 100%;
  }
  
  .card__static {
    padding: 0;
  }

  .card-static__content {
    padding: 18px;
    position: relative;
  }

  .card__collapsible {
    padding: 0 18px 18px;
  }

  .card-collapsible__list li {
    width: 100%;
  }
}
