@import '../core/colors';
@import '../core/fonts';
@import '../core/utils';
@import '../core/viewports';

$margin: 7px;

// desktop
.page {
  background-color: $grey-1;
  box-shadow: 0 1px 2px $blue-shadow;
  display: block;
}

.header {
  @extend %font-extra-large;

  color: $blue-2;
  display: block;
  padding-top: 38px;
  text-align: center;
}

.header--bold {
  @extend %font-extra-large-bold;
}

.header__stars {
  padding-left: 40px;
}

.tile {
  flex: 1 0 0;
  margin: 0 $margin;
}

@-moz-document url-prefix() {
  .tile {
    flex: 1;
  }
}

.tile__header {
  @extend %font-medium-bold;

  color: $blue-3;
  height: 38px;
  margin: 0 auto;
  padding-bottom: 15px;
  position: relative;
  text-align: center;
  width: 70%;

  &:after {
    background-color: $blue-4; 
    bottom: 0;
    content: '';
    display: block;
    height: 1px;
    left: 50%;
    position: absolute;
    transform: translate(-50%,0);
    width: 70px;
  }
}

.tile__list {
  @extend %font-normal;

  list-style-type: none;
  padding: 0;
  margin-bottom: 42px;

  li {
    margin-left: 6px;

    &::before {
      content: '\2022';
      color: $grey-3;
      font-weight: bold;
      display: inline-block;
      width: 1em;
      margin-left: -1em
    }
  }
}

.tile__selector {
  @extend %font-medium;

  background-color: $grey-shadow;
  color: $grey-5;
  height: 46px;
  line-height: 46px;
  width: 100%;

  .tile__radiobutton {
    display: inline-block;
  }
}

.tile_wrapper {
  display: flex;
  padding: 29px 14px;
}

// small-desktop
@include viewport-down(small-desktop) {
  .tile {
    margin: $margin;
    min-width: calc(100%/4);
  }

  .tile_wrapper {
    flex-wrap: wrap;

    &:after {
      content: '';
      flex: auto;
      margin: $margin;
    }
  }
}

// tablet
@include viewport-down(tablet) {
  .header {
    display: flex;
    flex-direction: column;
  }
  
  .header__stars {
    padding-left: 0;
    padding-top: 15px;
  }

  .tile {
    // IE and Edge do not support calc(100%/3) because they round to two decimals
    // https://stackoverflow.com/questions/30480442/width-calc100-3-not-working-properly-in-any-ie
    min-width: 33.33%;
  }
}

// mobile
@include viewport-down(mobile) {
  .tile_wrapper {
    display: block;

    &:after {
      content: none;
    }
  }
}
