@import 'components/index';
@import 'pages/index';

@import 'core/colors';
@import 'core/viewports';

// desktop
body {
  background-color: $grey-0;
  margin: 0 40px;
  padding: 0 10%;

  // small-desktop
  @include viewport-down(small-desktop) {
    padding: 0;
  }

  // mobile
  @include viewport-down(mobile) {
    margin: 0;
  }
}
