/* line 36, src/styles/core/fonts.scss */
.panel-header__action {
  font-family: "Roboto Slab";
  font-size: 24px;
  font-weight: 700;
  line-height: 38px; }

/* line 44, src/styles/core/fonts.scss */
.header--bold {
  font-family: "Roboto Slab";
  font-size: 24px;
  font-weight: 700;
  line-height: 30px; }

/* line 52, src/styles/core/fonts.scss */
.header {
  font-family: "Roboto Slab";
  font-size: 24px;
  font-weight: 500;
  line-height: 30px; }

/* line 60, src/styles/core/fonts.scss */
.card-static__content h2 {
  font-family: "Roboto Slab";
  font-size: 18px;
  font-weight: 700;
  line-height: 24px; }

/* line 68, src/styles/core/fonts.scss */
.tile__header {
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 700;
  line-height: 16px; }

/* line 76, src/styles/core/fonts.scss */
.navigation__tab {
  font-family: "Roboto Slab";
  font-size: 16px;
  font-weight: 500;
  line-height: 14px; }

/* line 84, src/styles/core/fonts.scss */
.tile__selector {
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 500;
  line-height: 16px; }

/* line 92, src/styles/core/fonts.scss */
.tile__list {
  font-family: "Roboto";
  font-size: 15px;
  font-weight: 500;
  line-height: 25px; }

/* line 100, src/styles/core/fonts.scss */
.card-static-content__action {
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 700;
  line-height: 19px; }

/* line 108, src/styles/core/fonts.scss */
.card {
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 500;
  line-height: 20px; }

/* line 116, src/styles/core/fonts.scss */
.panel-header__subtext {
  font-family: "Roboto";
  font-size: 12px;
  font-weight: 500;
  line-height: 14px; }

/* line 124, src/styles/core/fonts.scss */
.panel-header__badge {
  font-family: "Roboto";
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 1.52px;
  line-height: 14px; }

/* line 8, src/styles/components/navigator.component.scss */
:host {
  display: block;
  margin: 0 40px; }

/* line 13, src/styles/components/navigator.component.scss */
.navigation {
  align-items: center;
  background-color: #fff;
  display: flex;
  height: 45px;
  justify-content: flex-end;
  padding-right: 30px; }

/* line 22, src/styles/components/navigator.component.scss */
.navigation__tab {
  align-items: center;
  color: #4ba7ee;
  border-bottom: 1px solid transparent;
  display: flex;
  height: 45px;
  justify-content: center;
  text-decoration: none;
  width: 120px; }
  /* line 34, src/styles/components/navigator.component.scss */
  .navigation__tab.active {
    color: #003970;
    border-bottom-color: #003970; }

@media only screen and (max-width: 768px) {
  /* line 42, src/styles/components/navigator.component.scss */
  .navigation {
    padding-right: 0; } }

/* line 1, src/styles/components/stars.component.scss */
.star {
  padding: 1px; }

/* line 36, src/styles/core/fonts.scss */
.panel-header__action {
  font-family: "Roboto Slab";
  font-size: 24px;
  font-weight: 700;
  line-height: 38px; }

/* line 44, src/styles/core/fonts.scss */
.header--bold {
  font-family: "Roboto Slab";
  font-size: 24px;
  font-weight: 700;
  line-height: 30px; }

/* line 52, src/styles/core/fonts.scss */
.header {
  font-family: "Roboto Slab";
  font-size: 24px;
  font-weight: 500;
  line-height: 30px; }

/* line 60, src/styles/core/fonts.scss */
.card-static__content h2 {
  font-family: "Roboto Slab";
  font-size: 18px;
  font-weight: 700;
  line-height: 24px; }

/* line 68, src/styles/core/fonts.scss */
.tile__header {
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 700;
  line-height: 16px; }

/* line 76, src/styles/core/fonts.scss */
.navigation__tab {
  font-family: "Roboto Slab";
  font-size: 16px;
  font-weight: 500;
  line-height: 14px; }

/* line 84, src/styles/core/fonts.scss */
.tile__selector {
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 500;
  line-height: 16px; }

/* line 92, src/styles/core/fonts.scss */
.tile__list {
  font-family: "Roboto";
  font-size: 15px;
  font-weight: 500;
  line-height: 25px; }

/* line 100, src/styles/core/fonts.scss */
.card-static-content__action {
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 700;
  line-height: 19px; }

/* line 108, src/styles/core/fonts.scss */
.card {
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 500;
  line-height: 20px; }

/* line 116, src/styles/core/fonts.scss */
.panel-header__subtext {
  font-family: "Roboto";
  font-size: 12px;
  font-weight: 500;
  line-height: 14px; }

/* line 124, src/styles/core/fonts.scss */
.panel-header__badge {
  font-family: "Roboto";
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 1.52px;
  line-height: 14px; }

/* line 9, src/styles/pages/page-one.component.scss */
.page {
  background-color: #f9f9f9;
  box-shadow: 0 1px 2px rgba(80, 92, 119, 0.2);
  display: block; }

/* line 15, src/styles/pages/page-one.component.scss */
.header {
  color: #003970;
  display: block;
  padding-top: 38px;
  text-align: center; }

/* line 28, src/styles/pages/page-one.component.scss */
.header__stars {
  padding-left: 40px; }

/* line 32, src/styles/pages/page-one.component.scss */
.tile {
  align-items: center;
  border: 1px solid #c9e3f9;
  flex: 1;
  margin: 0 7px;
  display: flex;
  flex-direction: column;
  padding: 17px; }

/* line 42, src/styles/pages/page-one.component.scss */
.tile__content {
  flex-grow: 1;
  max-width: 225px; }

/* line 47, src/styles/pages/page-one.component.scss */
.tile__header {
  color: #105aa3;
  height: 38px;
  margin: 0 auto;
  padding-bottom: 15px;
  position: relative;
  text-align: center;
  width: 70%; }
  /* line 58, src/styles/pages/page-one.component.scss */
  .tile__header:after {
    background-color: #c9e3f9;
    bottom: 0;
    content: '';
    display: block;
    height: 1px;
    left: 50%;
    position: absolute;
    transform: translate(-50%, 0);
    width: 70px; }

/* line 71, src/styles/pages/page-one.component.scss */
.tile__list {
  list-style-type: none;
  padding: 0;
  margin-bottom: 42px; }
  /* line 78, src/styles/pages/page-one.component.scss */
  .tile__list li {
    text-indent: -.7em; }
  /* line 82, src/styles/pages/page-one.component.scss */
  .tile__list li::before {
    content: '. ';
    color: #9da2a9;
    font-size: 25px;
    font-weight: bold; }

/* line 90, src/styles/pages/page-one.component.scss */
.tile__selector {
  background-color: rgba(222, 225, 232, 0.38);
  color: #616469;
  height: 46px;
  line-height: 46px;
  width: 100%; }
  /* line 99, src/styles/pages/page-one.component.scss */
  .tile__selector .tile__radiobutton {
    display: inline-block; }

/* line 104, src/styles/pages/page-one.component.scss */
.tile_wrapper {
  display: flex;
  padding: 29px 14px; }

@media only screen and (max-width: 1023px) {
  /* line 111, src/styles/pages/page-one.component.scss */
  .tile {
    margin: 7px;
    min-width: calc(100%/4); }
  /* line 116, src/styles/pages/page-one.component.scss */
  .tile_wrapper {
    flex-wrap: wrap; }
    /* line 119, src/styles/pages/page-one.component.scss */
    .tile_wrapper:after {
      content: '';
      flex: auto;
      margin: 24px; } }

@media only screen and (max-width: 768px) {
  /* line 129, src/styles/pages/page-one.component.scss */
  .header {
    display: flex;
    flex-direction: column; }
  /* line 134, src/styles/pages/page-one.component.scss */
  .header__stars {
    padding-left: 0;
    padding-top: 15px; }
  /* line 139, src/styles/pages/page-one.component.scss */
  .tile {
    min-width: 33.33%; } }

@media only screen and (max-width: 360px) {
  /* line 150, src/styles/pages/page-one.component.scss */
  .tile {
    display: inline-block; }
  /* line 154, src/styles/pages/page-one.component.scss */
  .tile_wrapper {
    display: block; } }

/* line 36, src/styles/core/fonts.scss */
.panel-header__action {
  font-family: "Roboto Slab";
  font-size: 24px;
  font-weight: 700;
  line-height: 38px; }

/* line 44, src/styles/core/fonts.scss */
.header--bold {
  font-family: "Roboto Slab";
  font-size: 24px;
  font-weight: 700;
  line-height: 30px; }

/* line 52, src/styles/core/fonts.scss */
.header {
  font-family: "Roboto Slab";
  font-size: 24px;
  font-weight: 500;
  line-height: 30px; }

/* line 60, src/styles/core/fonts.scss */
.card-static__content h2 {
  font-family: "Roboto Slab";
  font-size: 18px;
  font-weight: 700;
  line-height: 24px; }

/* line 68, src/styles/core/fonts.scss */
.tile__header {
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 700;
  line-height: 16px; }

/* line 76, src/styles/core/fonts.scss */
.navigation__tab {
  font-family: "Roboto Slab";
  font-size: 16px;
  font-weight: 500;
  line-height: 14px; }

/* line 84, src/styles/core/fonts.scss */
.tile__selector {
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 500;
  line-height: 16px; }

/* line 92, src/styles/core/fonts.scss */
.tile__list {
  font-family: "Roboto";
  font-size: 15px;
  font-weight: 500;
  line-height: 25px; }

/* line 100, src/styles/core/fonts.scss */
.card-static-content__action {
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 700;
  line-height: 19px; }

/* line 108, src/styles/core/fonts.scss */
.card {
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 500;
  line-height: 20px; }

/* line 116, src/styles/core/fonts.scss */
.panel-header__subtext {
  font-family: "Roboto";
  font-size: 12px;
  font-weight: 500;
  line-height: 14px; }

/* line 124, src/styles/core/fonts.scss */
.panel-header__badge {
  font-family: "Roboto";
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 1.52px;
  line-height: 14px; }

/* line 3, src/styles/core/utils.scss */
.card-collapsible__list:before, .card-collapsible__list:after {
  content: ' ';
  display: table; }

/* line 8, src/styles/core/utils.scss */
.card-collapsible__list:after {
  clear: both; }

/* line 9, src/styles/pages/page-two.component.scss */
.panel {
  background-color: #fff;
  border: 1px solid #dee1e8;
  margin-top: 41px;
  padding: 20px; }
  /* line 15, src/styles/pages/page-two.component.scss */
  .panel:not(:last-child) {
    margin-bottom: -17px; }

/* line 20, src/styles/pages/page-two.component.scss */
.panel__header {
  position: relative;
  height: 58px; }

/* line 25, src/styles/pages/page-two.component.scss */
.panel-header__action {
  color: #4ba7ee; }

/* line 31, src/styles/pages/page-two.component.scss */
.panel-header__subtext {
  color: #105aa3; }

/* line 37, src/styles/pages/page-two.component.scss */
.panel-header__badge {
  background-color: #e82e34;
  color: #fff;
  height: 25px;
  position: absolute;
  right: -20px;
  text-align: center;
  top: -20px;
  width: 221px; }

/* line 50, src/styles/pages/page-two.component.scss */
.card {
  border: 1px solid #dee1e8;
  display: flex;
  flex-direction: column;
  margin-top: 22px;
  padding-right: 10%; }

/* line 60, src/styles/pages/page-two.component.scss */
.card__static {
  display: flex; }

/* line 64, src/styles/pages/page-two.component.scss */
.card-static__content {
  color: #616469;
  display: flex;
  flex-direction: column;
  margin: 18px 0 18px 27px; }
  /* line 70, src/styles/pages/page-two.component.scss */
  .card-static__content > * {
    flex: 1; }
  /* line 74, src/styles/pages/page-two.component.scss */
  .card-static__content h2 {
    color: #003970;
    margin: 0;
    flex: 0; }

/* line 83, src/styles/pages/page-two.component.scss */
.card-static-content__action {
  color: #4ba7ee;
  flex: 0; }

/* line 90, src/styles/pages/page-two.component.scss */
.card__collapsible {
  padding: 23px 0 17px 81px; }

/* line 97, src/styles/pages/page-two.component.scss */
.card-collapsible__list li {
  float: left;
  width: 33.33%; }

/* line 103, src/styles/pages/page-two.component.scss */
.card-collapsible__disclaimer {
  color: #003970; }

@media only screen and (max-width: 768px) {
  /* line 109, src/styles/pages/page-two.component.scss */
  .card__static {
    display: block; }
    /* line 112, src/styles/pages/page-two.component.scss */
    .card__static img {
      width: 100%;
      height: auto; } }

/* line 7, src/styles/application.scss */
body {
  background-color: #fafafa;
  margin: 0 40px; }
