/* line 36, src/styles/core/fonts.scss */
.panel__action {
  font-family: "Roboto Slab";
  font-size: 24px;
  font-weight: 700;
  line-height: 38px; }

/* line 44, src/styles/core/fonts.scss */
.header--bold {
  font-family: "Roboto Slab";
  font-size: 24px;
  font-weight: 700;
  line-height: 30px; }

/* line 52, src/styles/core/fonts.scss */
.header {
  font-family: "Roboto Slab";
  font-size: 24px;
  font-weight: 500;
  line-height: 30px; }

/* line 60, src/styles/core/fonts.scss */
.card-static-content__title {
  font-family: "Roboto Slab";
  font-size: 18px;
  font-weight: 700;
  line-height: 24px; }

/* line 68, src/styles/core/fonts.scss */
.tile__header {
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 700;
  line-height: 16px; }

/* line 76, src/styles/core/fonts.scss */
.navigation__tab {
  font-family: "Roboto Slab";
  font-size: 16px;
  font-weight: 500;
  line-height: 14px; }

/* line 84, src/styles/core/fonts.scss */
.radio-button__selector, .tile__selector {
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 500;
  line-height: 16px; }

/* line 92, src/styles/core/fonts.scss */
.tile__list {
  font-family: "Roboto";
  font-size: 15px;
  font-weight: 500;
  line-height: 25px; }

/* line 100, src/styles/core/fonts.scss */
.card-static-content__action {
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 700;
  line-height: 19px; }

/* line 108, src/styles/core/fonts.scss */
.card {
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 500;
  line-height: 20px; }

/* line 116, src/styles/core/fonts.scss */
.panel__disclaimer {
  font-family: "Roboto";
  font-size: 12px;
  font-weight: 500;
  line-height: 14px; }

/* line 124, src/styles/core/fonts.scss */
.panel__badge {
  font-family: "Roboto";
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 1.52px;
  line-height: 14px; }

/* line 3, src/styles/core/utils.scss */
.card-collapsible__list:before, .card-collapsible__list:after {
  content: ' ';
  display: table; }

/* line 8, src/styles/core/utils.scss */
.card-collapsible__list:after {
  clear: both; }

/* line 7, src/styles/components/navigator.component.scss */
.navigation {
  align-items: center;
  background-color: #fff;
  box-shadow: 0 1px 2px rgba(80, 92, 119, 0.2);
  display: flex;
  justify-content: flex-end;
  padding-right: 30px; }

/* line 16, src/styles/components/navigator.component.scss */
.navigation__tab {
  transition: border-color .3s ease-out, color .3s ease-out;
  align-items: center;
  color: #4ba7ee;
  cursor: pointer;
  display: flex;
  height: 45px;
  justify-content: center;
  outline: none;
  position: relative;
  text-decoration: none;
  width: 120px; }
  /* line 31, src/styles/components/navigator.component.scss */
  .navigation__tab:after {
    transition: width .3s ease-out;
    background-color: #003970;
    bottom: 0;
    content: '';
    height: 1.7px;
    position: absolute;
    right: 0;
    width: 0; }
  /* line 43, src/styles/components/navigator.component.scss */
  .navigation__tab:last-child:after {
    left: 0; }
  /* line 47, src/styles/components/navigator.component.scss */
  .navigation__tab.active {
    color: #003970; }
    /* line 50, src/styles/components/navigator.component.scss */
    .navigation__tab.active:after {
      width: 100%; }
  /* line 55, src/styles/components/navigator.component.scss */
  .navigation__tab:hover {
    color: #003970; }

@media only screen and (max-width: 768px) {
  /* line 62, src/styles/components/navigator.component.scss */
  .navigation {
    padding-right: 0; } }

@media only screen and (max-width: 599px) {
  /* line 69, src/styles/components/navigator.component.scss */
  .navigation {
    display: flex; }
  /* line 73, src/styles/components/navigator.component.scss */
  .navigation__tab {
    flex: 1 1 auto; } }

@-moz-document url-prefix() {
  @media only screen and (max-width: 599px) {
    /* line 80, src/styles/components/navigator.component.scss */
    .navigation__tab {
      flex: 1; } } }

/* line 36, src/styles/core/fonts.scss */
.panel__action {
  font-family: "Roboto Slab";
  font-size: 24px;
  font-weight: 700;
  line-height: 38px; }

/* line 44, src/styles/core/fonts.scss */
.header--bold {
  font-family: "Roboto Slab";
  font-size: 24px;
  font-weight: 700;
  line-height: 30px; }

/* line 52, src/styles/core/fonts.scss */
.header {
  font-family: "Roboto Slab";
  font-size: 24px;
  font-weight: 500;
  line-height: 30px; }

/* line 60, src/styles/core/fonts.scss */
.card-static-content__title {
  font-family: "Roboto Slab";
  font-size: 18px;
  font-weight: 700;
  line-height: 24px; }

/* line 68, src/styles/core/fonts.scss */
.tile__header {
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 700;
  line-height: 16px; }

/* line 76, src/styles/core/fonts.scss */
.navigation__tab {
  font-family: "Roboto Slab";
  font-size: 16px;
  font-weight: 500;
  line-height: 14px; }

/* line 84, src/styles/core/fonts.scss */
.radio-button__selector, .tile__selector {
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 500;
  line-height: 16px; }

/* line 92, src/styles/core/fonts.scss */
.tile__list {
  font-family: "Roboto";
  font-size: 15px;
  font-weight: 500;
  line-height: 25px; }

/* line 100, src/styles/core/fonts.scss */
.card-static-content__action {
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 700;
  line-height: 19px; }

/* line 108, src/styles/core/fonts.scss */
.card {
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 500;
  line-height: 20px; }

/* line 116, src/styles/core/fonts.scss */
.panel__disclaimer {
  font-family: "Roboto";
  font-size: 12px;
  font-weight: 500;
  line-height: 14px; }

/* line 124, src/styles/core/fonts.scss */
.panel__badge {
  font-family: "Roboto";
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 1.52px;
  line-height: 14px; }

/* line 3, src/styles/core/utils.scss */
.card-collapsible__list:before, .card-collapsible__list:after {
  content: ' ';
  display: table; }

/* line 8, src/styles/core/utils.scss */
.card-collapsible__list:after {
  clear: both; }

/* line 5, src/styles/components/radio-buttons.component.scss */
radio-button {
  outline: none; }

/* line 9, src/styles/components/radio-buttons.component.scss */
.radio-button {
  transition: border-color .3s ease-out;
  background: #fff;
  border: 1px solid #c9e3f9;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 17px; }
  /* line 20, src/styles/components/radio-buttons.component.scss */
  .radio-button:hover {
    box-shadow: 0 2px 3px rgba(80, 92, 119, 0.2); }
    /* line 23, src/styles/components/radio-buttons.component.scss */
    .radio-button:hover .radio-button__inner-circle {
      background-color: #9da2a9; }

/* line 29, src/styles/components/radio-buttons.component.scss */
.radio-button__content {
  flex: 1 1 auto; }

@-moz-document url-prefix() {
  /* line 34, src/styles/components/radio-buttons.component.scss */
  .radio-button__content {
    flex: 1; } }

/* line 39, src/styles/components/radio-buttons.component.scss */
.radio-button__selector {
  transition: border-color .3s ease-out, color .3s ease-out;
  align-items: center;
  background-color: rgba(222, 225, 232, 0.38);
  border: 1px solid transparent;
  color: #616469;
  display: flex;
  height: 46px;
  padding: 0 10px; }

/* line 52, src/styles/components/radio-buttons.component.scss */
.radio-button__outer-circle {
  transition: border .3s ease-out;
  align-items: center;
  background-color: #fff;
  border: 1px solid #8b9199;
  border-radius: 50%;
  box-sizing: border-box;
  display: inline-block;
  margin-right: 15px;
  min-height: 16px;
  min-width: 16px;
  position: relative; }

/* line 67, src/styles/components/radio-buttons.component.scss */
.radio-button__inner-circle {
  transition: background-color .3s ease-out;
  border-radius: 50%;
  min-height: 10px;
  min-width: 10px;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%); }

/* line 80, src/styles/components/radio-buttons.component.scss */
[aria-checked='true'] .radio-button {
  border-color: #003970; }

/* line 84, src/styles/components/radio-buttons.component.scss */
[aria-checked='true'] .radio-button__selector {
  border-color: #003970;
  color: #003970; }

/* line 89, src/styles/components/radio-buttons.component.scss */
[aria-checked='true'] .radio-button__outer-circle {
  border-color: #6dc138 !important; }

/* line 93, src/styles/components/radio-buttons.component.scss */
[aria-checked='true'] .radio-button__inner-circle {
  background-color: #6dc138 !important; }

/* line 1, src/styles/components/stars.component.scss */
.star {
  padding: 2px; }

/* line 36, src/styles/core/fonts.scss */
.panel__action {
  font-family: "Roboto Slab";
  font-size: 24px;
  font-weight: 700;
  line-height: 38px; }

/* line 44, src/styles/core/fonts.scss */
.header--bold {
  font-family: "Roboto Slab";
  font-size: 24px;
  font-weight: 700;
  line-height: 30px; }

/* line 52, src/styles/core/fonts.scss */
.header {
  font-family: "Roboto Slab";
  font-size: 24px;
  font-weight: 500;
  line-height: 30px; }

/* line 60, src/styles/core/fonts.scss */
.card-static-content__title {
  font-family: "Roboto Slab";
  font-size: 18px;
  font-weight: 700;
  line-height: 24px; }

/* line 68, src/styles/core/fonts.scss */
.tile__header {
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 700;
  line-height: 16px; }

/* line 76, src/styles/core/fonts.scss */
.navigation__tab {
  font-family: "Roboto Slab";
  font-size: 16px;
  font-weight: 500;
  line-height: 14px; }

/* line 84, src/styles/core/fonts.scss */
.radio-button__selector, .tile__selector {
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 500;
  line-height: 16px; }

/* line 92, src/styles/core/fonts.scss */
.tile__list {
  font-family: "Roboto";
  font-size: 15px;
  font-weight: 500;
  line-height: 25px; }

/* line 100, src/styles/core/fonts.scss */
.card-static-content__action {
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 700;
  line-height: 19px; }

/* line 108, src/styles/core/fonts.scss */
.card {
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 500;
  line-height: 20px; }

/* line 116, src/styles/core/fonts.scss */
.panel__disclaimer {
  font-family: "Roboto";
  font-size: 12px;
  font-weight: 500;
  line-height: 14px; }

/* line 124, src/styles/core/fonts.scss */
.panel__badge {
  font-family: "Roboto";
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 1.52px;
  line-height: 14px; }

/* line 3, src/styles/core/utils.scss */
.card-collapsible__list:before, .card-collapsible__list:after {
  content: ' ';
  display: table; }

/* line 8, src/styles/core/utils.scss */
.card-collapsible__list:after {
  clear: both; }

/* line 9, src/styles/pages/page-one.component.scss */
.page {
  background-color: #f9f9f9;
  box-shadow: 0 1px 2px rgba(80, 92, 119, 0.2);
  display: block; }

/* line 15, src/styles/pages/page-one.component.scss */
.header {
  color: #003970;
  display: block;
  padding-top: 38px;
  text-align: center; }

/* line 28, src/styles/pages/page-one.component.scss */
.header__stars {
  padding-left: 40px; }

/* line 32, src/styles/pages/page-one.component.scss */
.tile {
  flex: 1 1 auto;
  margin: 0 7px; }

@-moz-document url-prefix() {
  /* line 38, src/styles/pages/page-one.component.scss */
  .tile {
    flex: 1; } }

/* line 43, src/styles/pages/page-one.component.scss */
.tile__header {
  color: #105aa3;
  height: 38px;
  margin: 0 auto;
  padding-bottom: 15px;
  position: relative;
  text-align: center;
  width: 70%; }
  /* line 54, src/styles/pages/page-one.component.scss */
  .tile__header:after {
    background-color: #c9e3f9;
    bottom: 0;
    content: '';
    display: block;
    height: 1px;
    left: 50%;
    position: absolute;
    transform: translate(-50%, 0);
    width: 70px; }

/* line 67, src/styles/pages/page-one.component.scss */
.tile__list {
  list-style-type: none;
  padding: 0;
  margin-bottom: 42px; }
  /* line 74, src/styles/pages/page-one.component.scss */
  .tile__list li {
    margin-left: 6px; }
    /* line 77, src/styles/pages/page-one.component.scss */
    .tile__list li::before {
      content: '\2022';
      color: #9da2a9;
      font-weight: bold;
      display: inline-block;
      width: 1em;
      margin-left: -1em; }

/* line 88, src/styles/pages/page-one.component.scss */
.tile__selector {
  background-color: rgba(222, 225, 232, 0.38);
  color: #616469;
  height: 46px;
  line-height: 46px;
  width: 100%; }
  /* line 97, src/styles/pages/page-one.component.scss */
  .tile__selector .tile__radiobutton {
    display: inline-block; }

/* line 102, src/styles/pages/page-one.component.scss */
.tile_wrapper {
  display: flex;
  padding: 29px 14px; }

@media only screen and (max-width: 1200px) {
  /* line 109, src/styles/pages/page-one.component.scss */
  .tile {
    margin: 7px;
    min-width: calc(100%/4); }
  /* line 114, src/styles/pages/page-one.component.scss */
  .tile_wrapper {
    flex-wrap: wrap; }
    /* line 117, src/styles/pages/page-one.component.scss */
    .tile_wrapper:after {
      content: '';
      flex: auto;
      margin: 7px; } }

@media only screen and (max-width: 768px) {
  /* line 127, src/styles/pages/page-one.component.scss */
  .header {
    display: flex;
    flex-direction: column; }
  /* line 132, src/styles/pages/page-one.component.scss */
  .header__stars {
    padding-left: 0;
    padding-top: 15px; }
  /* line 137, src/styles/pages/page-one.component.scss */
  .tile {
    min-width: 33.33%; } }

@media only screen and (max-width: 599px) {
  /* line 146, src/styles/pages/page-one.component.scss */
  .tile_wrapper {
    display: block; }
    /* line 149, src/styles/pages/page-one.component.scss */
    .tile_wrapper:after {
      content: none; } }

/* line 36, src/styles/core/fonts.scss */
.panel__action {
  font-family: "Roboto Slab";
  font-size: 24px;
  font-weight: 700;
  line-height: 38px; }

/* line 44, src/styles/core/fonts.scss */
.header--bold {
  font-family: "Roboto Slab";
  font-size: 24px;
  font-weight: 700;
  line-height: 30px; }

/* line 52, src/styles/core/fonts.scss */
.header {
  font-family: "Roboto Slab";
  font-size: 24px;
  font-weight: 500;
  line-height: 30px; }

/* line 60, src/styles/core/fonts.scss */
.card-static-content__title {
  font-family: "Roboto Slab";
  font-size: 18px;
  font-weight: 700;
  line-height: 24px; }

/* line 68, src/styles/core/fonts.scss */
.tile__header {
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 700;
  line-height: 16px; }

/* line 76, src/styles/core/fonts.scss */
.navigation__tab {
  font-family: "Roboto Slab";
  font-size: 16px;
  font-weight: 500;
  line-height: 14px; }

/* line 84, src/styles/core/fonts.scss */
.radio-button__selector, .tile__selector {
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 500;
  line-height: 16px; }

/* line 92, src/styles/core/fonts.scss */
.tile__list {
  font-family: "Roboto";
  font-size: 15px;
  font-weight: 500;
  line-height: 25px; }

/* line 100, src/styles/core/fonts.scss */
.card-static-content__action {
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 700;
  line-height: 19px; }

/* line 108, src/styles/core/fonts.scss */
.card {
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 500;
  line-height: 20px; }

/* line 116, src/styles/core/fonts.scss */
.panel__disclaimer {
  font-family: "Roboto";
  font-size: 12px;
  font-weight: 500;
  line-height: 14px; }

/* line 124, src/styles/core/fonts.scss */
.panel__badge {
  font-family: "Roboto";
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 1.52px;
  line-height: 14px; }

/* line 3, src/styles/core/utils.scss */
.card-collapsible__list:before, .card-collapsible__list:after {
  content: ' ';
  display: table; }

/* line 8, src/styles/core/utils.scss */
.card-collapsible__list:after {
  clear: both; }

/* line 9, src/styles/pages/page-two.component.scss */
.panel {
  background-color: #fff;
  border: 1px solid #dee1e8;
  margin: 41px 0 26px;
  padding: 20px;
  position: relative; }
  /* line 16, src/styles/pages/page-two.component.scss */
  .panel:not(:last-child) {
    margin-bottom: -17px; }

/* line 21, src/styles/pages/page-two.component.scss */
.panel__action {
  color: #4ba7ee;
  display: inline-block;
  margin-left: -10px; }

/* line 29, src/styles/pages/page-two.component.scss */
.panel__disclaimer {
  color: #105aa3;
  padding-left: 15px; }

/* line 36, src/styles/pages/page-two.component.scss */
.panel__badge {
  background-color: #e82e34;
  color: #fff;
  height: 25px;
  line-height: 25px;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 221px; }

/* line 50, src/styles/pages/page-two.component.scss */
.card {
  border: 1px solid #dee1e8;
  box-sizing: border-box;
  color: #616469;
  display: inline-block;
  margin-top: 22px;
  padding-right: 10%;
  width: 100%; }

/* line 62, src/styles/pages/page-two.component.scss */
.card-static__content {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  min-height: 180px;
  padding: 18px 0 18px 27px; }

/* line 70, src/styles/pages/page-two.component.scss */
.card-static__img {
  float: left;
  height: 180px;
  width: 270px; }

/* line 76, src/styles/pages/page-two.component.scss */
.card-static-content__title {
  color: #003970; }

/* line 82, src/styles/pages/page-two.component.scss */
.card-static-content__text {
  flex: 1 1 auto;
  margin-bottom: 23px;
  white-space: pre-wrap; }

@-moz-document url-prefix() {
  /* line 89, src/styles/pages/page-two.component.scss */
  .card-static-content__text {
    flex: 1; } }

/* line 94, src/styles/pages/page-two.component.scss */
.card-static-content__action {
  color: #4ba7ee;
  display: flex; }

/* line 101, src/styles/pages/page-two.component.scss */
.card__collapsible {
  padding: 23px 0 17px 81px; }

/* line 105, src/styles/pages/page-two.component.scss */
.card-collapsible__list {
  padding-left: 20px; }
  /* line 110, src/styles/pages/page-two.component.scss */
  .card-collapsible__list li {
    box-sizing: border-box;
    float: left;
    padding-right: 23px;
    width: 33.33%; }

/* line 118, src/styles/pages/page-two.component.scss */
.card-collapsible__disclaimer {
  color: #003970;
  font-weight: 700; }

/* line 123, src/styles/pages/page-two.component.scss */
.collapsible {
  transition: height .3s ease-out;
  overflow: hidden; }

/* line 129, src/styles/pages/page-two.component.scss */
.collapsible__arrow {
  transition: transform .3s ease-out;
  padding: 0 15px;
  transform: rotate(180deg); }
  /* line 135, src/styles/pages/page-two.component.scss */
  .collapsible__arrow.collapsed {
    transform: rotate(0); }

@media only screen and (max-width: 1200px) {
  /* line 142, src/styles/pages/page-two.component.scss */
  .card-collapsible__list li {
    width: 50%; } }

@media only screen and (max-width: 768px) {
  /* line 149, src/styles/pages/page-two.component.scss */
  .card {
    padding-right: 0; }
  /* line 153, src/styles/pages/page-two.component.scss */
  .card-static__img {
    float: none;
    height: auto;
    width: 100%; }
  /* line 159, src/styles/pages/page-two.component.scss */
  .card__static {
    display: block;
    position: relative;
    padding-bottom: 45px; }
  /* line 165, src/styles/pages/page-two.component.scss */
  .card-static__content {
    background-color: rgba(255, 255, 255, 0.8);
    bottom: 0;
    padding: 18px 27px;
    position: absolute; }
  /* line 172, src/styles/pages/page-two.component.scss */
  .card__collapsible {
    padding: 0 27px 18px; } }

@media only screen and (max-width: 599px) {
  /* line 179, src/styles/pages/page-two.component.scss */
  .panel {
    margin-left: 21px;
    margin-right: 21px;
    padding-top: 40px; }
  /* line 185, src/styles/pages/page-two.component.scss */
  .panel__badge {
    width: 100%; }
  /* line 189, src/styles/pages/page-two.component.scss */
  .panel__action {
    display: flex;
    font-size: 18px;
    line-height: 24px; }
  /* line 195, src/styles/pages/page-two.component.scss */
  .panel__disclaimer {
    display: block;
    padding-left: 0;
    padding-top: 5px;
    text-align: right;
    width: 100%; }
  /* line 203, src/styles/pages/page-two.component.scss */
  .card__static {
    padding: 0; }
  /* line 207, src/styles/pages/page-two.component.scss */
  .card-static__content {
    padding: 18px;
    position: relative; }
  /* line 212, src/styles/pages/page-two.component.scss */
  .card__collapsible {
    padding: 0 18px 18px; }
  /* line 216, src/styles/pages/page-two.component.scss */
  .card-collapsible__list li {
    width: 100%; } }

/* line 8, src/styles/application.scss */
body {
  background-color: #fafafa;
  margin: 0 40px;
  padding: 0 10%; }
  @media only screen and (max-width: 1200px) {
    /* line 8, src/styles/application.scss */
    body {
      padding: 0; } }
  @media only screen and (max-width: 599px) {
    /* line 8, src/styles/application.scss */
    body {
      margin: 0; } }
