<div class='page'>
  <div class='header'>HOTEL <span class='header--bold'>Mieres del Camín Apartamentos</span><stars class='header__stars' [number]=4></stars></div>

  <radio-group class='tile_wrapper'>
    <radio-button *ngFor='let pension of pensions; let i = index' [id]='i' class='tile'>
      <div class='tile__content'>
        <div class='tile__header'>{{pension.name}}</div>
        <ul class='tile__list'>
          <li *ngFor='let characteristic of pension.characteristics'>{{characteristic}}</li>
        </ul>
      </div>
    </radio-button>
  </radio-group>
</div>
