<div class='page'>
  <div class='header'>HOTEL <span class='header--bold'>Mieres del Camín Apartamentos</span><stars class='header__stars' [number]=4></stars></div>

  <radio-group class='tile_wrapper'>
    <div *ngFor='let pension of pensions; let i = index' class='tile'>
      <radio-button [id]='i'>
        <div class='tile__content'>
          <div class='tile__header'>{{pension.name}}</div>
          <ul class='tile__list'>
            <li *ngFor='let characteristic of pension.characteristics'>{{characteristic}}</li>
          </ul>
        </div>
      </radio-button>
    </div>
  </radio-group>
</div>
